Here are Discord timestamps for your desired date `{{ .DateString }}`

Formats:
- Default: <t:{{ .Unix }}> \<t:{{ .Unix }}>
- Short Time: <t:{{ .Unix }}:t> \<t:{{ .Unix }}:t>
- Long Time: <t:{{ .Unix }}:T> \<t:{{ .Unix }}:T>
- Short Date: <t:{{ .Unix }}:d> \<t:{{ .Unix }}:d>
- Long Date: <t:{{ .Unix }}:D> \<t:{{ .Unix }}:D>
- Short Date/Time: <t:{{ .Unix }}:f> \<t:{{ .Unix }}:f>
- Long Date/Time: <t:{{ .Unix }}:F> \<t:{{ .Unix }}:F>
- Relative Time: <t:{{ .Unix }}:R> \<t:{{ .Unix }}:R>