Here are Discord timestamps for your desired date `{{ .dateString }}`

Formats:
- Default: <t:{{ .timestamp }}> \{{ .timestamp }}
- Short Time: <t:{{ .timestamp }}:t> \<t:{{ .timestamp }}:t>
- Long Time: <t:{{ .timestamp }}:T> \<t:{{ .timestamp }}:T>
- Short Date: <t:{{ .timestamp }}:d> \<t:{{ .timestamp }}:d>
- Long Date: <t:{{ .timestamp }}:D> \<t:{{ .timestamp }}:D>
- Short Date/Time: <t:{{ .timestamp }}:f> \<t:{{ .timestamp }}:f>
- Long Date/Time: <t:{{ .timestamp }}:F> \<t:{{ .timestamp }}:F>
- Relative Time: <t:{{ .timestamp }}:R> \<t:{{ .timestamp }}:R>